@use '/src/styles/base';

.main-container{
	font-family: 'Poppins', sans-serif;
	margin: 8px;
	width: 100%;
	display: flex;
	flex-direction: column;
	.top-nav{
		display: flex;
		justify-content: space-between;
		margin: 1.5rem 4rem;
		label{
			i{
				color: #6444DC;
				margin-right: 20px;
			}
			font-size: 27px;
			color: #fff;
		}
		.top-nav-right{
			& *{
				margin-left: 3rem;
			}
			color: #fff;
			font-size: 23px;
		}
	}

	.center-field{
		display: flex;
		height: 100%;
		
	}

	.horizont-hr{
		width: 100%;
	}
	hr{
		margin: 0;
		border: base.$hr-border;
	}
}