@use '/src/styles/base';

.main-container{
	font-family: 'Poppins', sans-serif;
	margin: 8px;
	width: 100%;
	display: flex;
	flex-direction: column;
	
	.center-field{
		display: flex;
		height: 100%;
		
	}

	.horizont-hr{
		width: 100%;
	}
	hr{
		margin: 0;
		border: base.$hr-border;
	}
}