@use '../styles/base';

::-webkit-scrollbar{
	width: 20px;
	margin-left: 5px;
}
::-webkit-scrollbar-thumb{
	border: 9px solid rgba(255, 255, 255, 0);
  	background-clip: content-box;
	background-color: #AAAAAA;
	border-radius: 16px;
}

#chat_field{
	height: 100%;
	padding: 2rem;
	width: 50%;
	position: relative;
	#chat_field_title{
		color: #fff;
		font-size: 35px;
		margin-bottom: 3rem;
	}
	input{
		padding: 10px 15px;
		width: 70%;
		outline: none;
		background-color: #151123;
		border: 2px solid base.$lighter-bgcolor;
		border-radius: 10px;
		color: rgb(114, 114, 114);
		font-size: 18px;
		position: absolute;
		bottom: 10%;
		left: 10%;
	}
	.fa-paper-plane{
		position: absolute;
		right: 7%;
		bottom: 11.5%;
		font-size: 22px;
		color: base.$purple;
		&:hover{
			cursor: pointer;
		}
	}
	.messages{
		overflow-y: auto;
		height: 70%;
		margin-top: 4rem;
		display: flex;
		flex-direction: column;
	}
}

.message{
	display: flex;
	width: 40%;
	i{
		font-size: 35px;
	}
	label{
		margin: 0 20px 10px;
		padding: 10px 15px;
		color: rgb(255, 255, 255);
		background-color: base.$lighter-bgcolor;
		border-radius: 16px;
	}
}