@use '../styles/base';

#info{
	text-align: center;
	justify-content: space-around;
	width: 100%;
	label{
		font-size: 14px;
		color: #8367e9;
		opacity: .7;
	}
	img{
		display: none;
	}
}
.message{
	display: flex;
	width: 40%;
	i{
		font-size: 35px;
	}
	label{
		margin: 0 20px 10px;
		padding: 10px 15px;
		color: rgb(255, 255, 255);
		background-color: base.$lighter-bgcolor;
		border-radius: 16px;
	}
	#message-user-img{
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
}

.user{
	flex-direction: row-reverse;
	margin-left: auto;
}
