#friends_page_cont{
	height: 100%;
	width: 100%;
	padding: 30px;
	.title{
		color: #fff;
		font-size: 35px;
		margin: 3rem 4rem;
	}
	hr{
		margin: 4rem 0 4rem;
	}
	input{
		border: none;
		outline: none;
		font-size: 20px;
		font-family: 'Poppins', sans-serif;
	}
}